{include file=comm/head.html}

{include file=comm/top.html}

<div class="container pages">

	{include file=comm/position.html}
  	 
  	{include file=comm/sortnav.html}

    <h2 class="text-center fs-sm-28 fs-20 mt-3">{content:title}</h2>
    <div class="text-center border-bottom text-secondary pb-2 mb-3">
    	  Date: {content:date style=Y-m-d}&nbsp;&nbsp;&nbsp;Views: {content:visits}&nbsp;&nbsp;&nbsp;Media Platform: {content:ext_mediaplatform}&nbsp;&nbsp;&nbsp;Editor: {content:ext_mediaplatform2}
    </div>
	<div class="content mb-3">{content:content}</div>
	<div class="text-secondary lh-2">
		<p>Previous: {content:precontent}</p>
		<p>Next: {content:nextcontent}</p>
	</div>

	{gboot:if({gboot:likesstatus})}
	<div class="text-center my-4">
		<div class="btn-group" role="group" aria-label="Like and Dislike">
			<button type="button" class="btn btn-outline-success btn-likes" data-id="{content:id}">
				<i class="fa fa-thumbs-up"></i>
				<span class="ml-1">Like</span>
				<span class="badge badge-light ml-1 likes-count">{content:likes}</span>
			</button>
			<button type="button" class="btn btn-outline-danger btn-oppose" data-id="{content:id}">
				<i class="fa fa-thumbs-down"></i>
				<span class="ml-1">Dislike</span>
				<span class="badge badge-light ml-1 oppose-count">{content:oppose}</span>
			</button>
		</div>
	</div>
	{/gboot:if}
</div>

{include file=comm/comment.html}

{include file=comm/foot.html}

{gboot:if({gboot:likesstatus})}
<script>
$(function(){
	var contentId = $('.btn-likes').data('id');
	if (!contentId) return;

	function doAction(type, btn) {
		$.post('/api/' + type, { id: contentId }, function(res) {
			if (res.code === 1) {
				if (type === 'likes') {
					$('.likes-count').text(res.likes);
					btn.removeClass('btn-outline-success').addClass('btn-success').prop('disabled', true);
				} else {
					$('.oppose-count').text(res.oppose);
					btn.removeClass('btn-outline-danger').addClass('btn-danger').prop('disabled', true);
				}
			} else {
				btn.removeClass('btn-outline-success btn-outline-danger').addClass('btn-secondary').prop('disabled', true);
			}
		}, 'json');
	}

	$('.btn-likes').on('click', function(){ doAction('likes', $(this)); });
	$('.btn-oppose').on('click', function(){ doAction('oppose', $(this)); });
});
</script>
{/gboot:if}
