{include file='common/head.html'}

<div class="layui-body">
	{if([$list])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">評論列表</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
	  		<form action="/admin/member/comment/index" method="get" class="layui-form">
	  	   		<div class="layui-form-item nospace">
	  	   			<div class="layui-input-inline">
				       <select name="field" lay-verify="required">
				       		<option value="b.title" {if(get('field')=='b.title')}selected="selected" {/if}>文章標題</option>
				       		<option value="a.comment" {if(get('field')=='a.comment')}selected="selected" {/if}>評論內容</option>
                            <option value="c.username" {if(get('field')=='c.username')}selected="selected" {/if}>會員帳號</option>
                            <option value="c.nickname" {if(get('field')=='c.nickname')}selected="selected" {/if}>會員暱稱</option>
                       </select>
				    </div>
                     <div class="layui-input-inline">
                     	<input type="text" name="keyword"  value="{$get.keyword}"  placeholder="請輸入搜索關鍵字" class="layui-input">
                     </div>
                     <div class="layui-input-inline">
                     	<button class="layui-btn" lay-submit>搜索</button>
                     	<a class="layui-btn layui-btn-primary" href="/admin/member/comment/index">清除搜索</a>
                     </div>
                </div>
            </form>

            <form action="/admin/member/comment/mod" method="post" id="contentForm" name="contentForm" class="layui-form" onkeydown="if(event.keyCode==13) return false;">
		  		<input type="hidden" name="formcheck" value="{$formcheck}" >
		  		<table class="layui-table">
		  			<thead>
	                    <tr>
	                    	<th><input type="checkbox" class="checkbox" lay-ignore id="checkall" title="全選"></th>
	                        <th>文章</th>
	                        <th>評論</th>
	                        <th>狀態</th>
	                        <th>評論人</th>
	                        <th>時間</th>
	                        <th>操作</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {foreach $comments(key,value)}
	                    <tr>
	                    	<td>
	                    		<input type="checkbox" class="checkbox checkitem" lay-ignore name="list[]" value="[value->id]">
	                    		<input type="hidden" name="listall[]" value="[value->id]">
	                    	</td>
	                        <td>[value->title]</td>
	                        <td title="[value->comment]">{fun=substr_both($value->comment,0,20)}...</td>
	                        <td>
	                       		{if($value->status)}
		                        <a href="/admin/member/comment/mod/id/[value->id]/field/status/value/0" class="switch"><i class='fa fa-toggle-on' title="點擊禁用"></i></a>
		                        {else}
		                        <a href="/admin/member/comment/mod/id/[value->id]/field/status/value/1" class="switch"><i class='fa fa-toggle-off' title="點擊啟用"></i></a>
		                        {/if}
	                        </td>
	                        <td title="[value->nickname]">[value->username]</td>
	                        <td>[value->create_time_str]</td>
	                        <td>
	                            <a href="/admin/member/comment/index?id=[value->id]" class="layui-btn layui-btn-xs">詳情</a>
	                            {fun=get_btn_del($value->id)}
	                        </td>
	                    </tr>
	                    {/foreach}
	                </tbody>
		  		</table>

		  		{if([$comments])}
		  		<div class="layui-btn-group">
			     	<button type="submit" name="submit" onclick="return setDelAction();" class="layui-btn layui-btn-sm">刪除</button>
			     	<button type="submit" name="submit" value="verify1" class="layui-btn layui-btn-sm">審核</button>
			     	<button type="submit" name="submit" value="verify0" class="layui-btn layui-btn-sm">禁用</button>
		     	 </div>
		     	<script>
		     		function setDelAction(){
		     			document.contentForm.action = "/admin/member/comment/del";
		     			return confirm("您確定要刪除選中的評論嗎？");
		     		}
		     	</script>
		     	{/if}
		  	</form>
	  		<div class="page">{$pagebar}</div>
	  	</div>
	  </div>
	</div>
	{/if}

	{if([$more])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this">評論詳情</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
	  		<table class="layui-table table-two">

				 <tr>
					<th width="100">文章</th>
					<td>{$comment->title}</td>
				 </tr>

				 <tr>
					<th>評論</th>
					<td>{$comment->comment}</td>
				 </tr>

				 <tr>
					<th>狀態</th>
					<td>
						{if([$comment->status]==1)}啟用{/if}
						{if([$comment->status]==0)}禁用{/if}
					</td>
				</tr>

				 <tr>
					<th>評論人</th>
					<td>{$comment->username}（{$comment->nickname}）</td>
				 </tr>

				 {if([$comment->pusername])}
				 <tr>
					<th>被評論人</th>
					<td>{$comment->pusername}（{$comment->pnickname}）</td>
				 </tr>
				 {/if}

				 <tr>
					<th>點讚數</th>
					<td>{$comment->likes}</td>
				 </tr>

				  <tr>
					<th>反對數</th>
					<td>{$comment->oppose}</td>
				 </tr>

				 <tr>
					<th>用戶IP</th>
					<td>{fun=long2ip([$comment->user_ip])}</td>
				 </tr>

				  <tr>
					<th>操作系統</th>
					<td>{$comment->user_os}</td>
				 </tr>

				 <tr>
					<th>瀏覽器</th>
					<td>{$comment->user_bs}</td>
				 </tr>

				 <tr>
					<th>時間</th>
					<td>{$comment->create_time_str}</td>
				 </tr>

  	   	    </table>
	  		{fun=get_btn_back()}
	  	</div>
	  </div>
	 </div>
	{/if}

</div>
{include file='common/foot.html'}
