{include file='common/head.html'}

<div class="layui-body">
	{if([$list])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">會員列表</li>
	    <li lay-id="t2">會員新增</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
	  	    <form action="/admin/member/mod" method="post" id="contentForm" name="contentForm" class="layui-form" onkeydown="if(event.keyCode==13) return false;">
		    	<input type="hidden" name="formcheck" value="{$formcheck}" >
	  	   		<table class="layui-table">
		  			<thead>
	                    <tr>
	                    	<th><input type="checkbox" class="checkbox" lay-ignore id="checkall" title="全選"></th>
	                    	<th>編號</th>
	                        <th>用戶名</th>
	                        <th>暱稱</th>
	                        <th>狀態</th>
	                        <th>等級</th>
	                        <th>積分</th>
	                        <th>註冊時間</th>
	                        <th>最後登錄時間</th>
	                        <th>操作</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {foreach $members(key,value)}
	                    <tr>
	                    	<td>
	                    		<input type="checkbox" class="checkbox checkitem" lay-ignore name="list[]" value="[value->id]">
	                    	</td>
	                    	<td>[value->ucode]</td>
	                        <td>[value->username]</td>
	                        <td>[value->nickname]</td>
	                        <td>
	                       		{if($value->status)}
		                        <a href="/admin/member/mod/id/[value->id]/field/status/value/0" class="switch"><i class='fa fa-toggle-on' title="點擊禁用"></i></a>
		                        {else}
		                        <a href="/admin/member/mod/id/[value->id]/field/status/value/1" class="switch"><i class='fa fa-toggle-off' title="點擊啟用"></i></a>
		                        {/if}
	                        </td>
	                        <td>[value->gname]</td>
	                        <td>[value->score]</td>
	                        <td>[value->register_time_str]</td>
	                        <td>[value->last_login_time]</td>
	                        <td>
	                            {fun=get_btn_del($value->id)}
	                            {fun=get_btn_mod($value->id)}
	                        </td>
	                    </tr>
	                    {/foreach}
	                </tbody>
		  		</table>

		  		{if([$members])}
		  		<div class="layui-btn-group">
			     	<button type="submit" name="submit" onclick="return setDelAction();" class="layui-btn layui-btn-sm">刪除</button>
			     	<button type="submit" name="submit" value="verify1" class="layui-btn layui-btn-sm">啟用</button>
			     	<button type="submit" name="submit" value="verify0" class="layui-btn layui-btn-sm">禁用</button>
		     	 </div>
		     	<script>
		     		function setDelAction(){
		     			document.contentForm.action = "/admin/member/del";
		     			return confirm("您確定要刪除選中的會員嗎？");
		     		}
		     	</script>
		     	{/if}
		  	</form>
	  		<div class="page">{$pagebar}</div>
	  	</div>
	  	<div class="layui-tab-item">
	  		 <form action="/admin/member/add" method="post" class="layui-form">
	  		 	<input type="hidden" name="formcheck" value="{$formcheck}" >

				<div class="layui-form-item">
                     <label class="layui-form-label">用戶名 <span class="layui-text-red">*</span></label>
                     <div class="layui-input-block">
                     	<input type="text" name="username" required  lay-verify="required"  autocomplete="off"  placeholder="請輸入會員用戶名" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">郵箱</label>
                     <div class="layui-input-block">
                     	<input type="text" name="useremail"  placeholder="請輸入會員郵箱,可登錄用" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">手機</label>
                     <div class="layui-input-block">
                     	<input type="text" name="usermobile"  placeholder="請輸入會員手機,可登錄用" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">暱稱</label>
                     <div class="layui-input-block">
                     	<input type="text" name="nickname"  placeholder="請輸入會員暱稱" autocomplete="off"  class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">登錄密碼  <span class="layui-text-red">*</span></label>
                     <div class="layui-input-block">
                     	<input type="password" name="password"  required lay-verify="required" placeholder="請輸入登錄密碼" autocomplete="off" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">頭像</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="headpic" id="headpic" placeholder="請輸入頭像圖片地址"  class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">狀態</label>
                     <div class="layui-input-block">
                     	<input type="radio" name="status" value="1" title="啟用" checked>
						<input type="radio" name="status" value="0" title="禁用">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">等級</label>
                     <div class="layui-input-block">
                     	<select name="gid">
	                        {foreach $groups(key,value)}
	                            <option value="[value->id]">[value->gname]</option>
	                        {/foreach}
	                    </select>
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">積分</label>
                     <div class="layui-input-block">
                     	<input type="text" name="score" value="0" maxlength="10" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
					 <div class="layui-input-block">
					    <button class="layui-btn" lay-submit>立即提交</button>
					    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
					 </div>
				</div>
	  		 </form>
	  	</div>
	  </div>
	</div>
	{/if}

	{if([$mod])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this">會員修改</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
	  		 <form action="/admin/member/mod/id/[$get.id]" method="post" class="layui-form">
	  		 	<input type="hidden" name="formcheck" value="{$formcheck}" >

               <div class="layui-form-item">
                     <label class="layui-form-label">用戶名 <span class="layui-text-red">*</span></label>
                     <div class="layui-input-block">
                     	<input type="text" name="username" required value="{$member->username}" lay-verify="required"  autocomplete="off"  placeholder="請輸入會員用戶名" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">郵箱</label>
                     <div class="layui-input-block">
                     	<input type="text" name="useremail" value="{$member->useremail}" placeholder="請輸入會員郵箱,可登錄用" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">手機</label>
                     <div class="layui-input-block">
                     	<input type="text" name="usermobile" value="{$member->usermobile}" placeholder="請輸入會員手機,可登錄用" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">暱稱</label>
                     <div class="layui-input-block">
                     	<input type="text" name="nickname" value="{$member->nickname}"  placeholder="請輸入會員暱稱" autocomplete="off"  class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">密碼 </label>
                     <div class="layui-input-block">
                     	<input type="password" name="password" placeholder="不修改請留空" autocomplete="off" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">頭像</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="headpic" value="{$member->headpic}" id="headpic" placeholder="請輸入頭像圖片地址"  class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">狀態</label>
                     <div class="layui-input-block">
                     	<input type="radio" name="status" value="1" title="啟用" {if([$member->status]==1)}checked{/if}>
						<input type="radio" name="status" value="0" title="禁用" {if([$member->status]==0)}checked{/if}>
                     </div>
                </div>

                 <div class="layui-form-item">
                     <label class="layui-form-label">等級</label>
                     <div class="layui-input-block">
                     	<select name="gid">
	                        {foreach $groups(key,value)}
	                            <option value="[value->id]" {if($value->id==[$member->gid])}selected{/if}>[value->gname]</option>
	                        {/foreach}
	                    </select>
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">積分</label>
                     <div class="layui-input-block">
                     	<input type="text" name="score"  value="{$member->score}" maxlength="10" class="layui-input">
                     </div>
                </div>

                 <div class="layui-form-item">
					 <div class="layui-input-block">
					    <button class="layui-btn" lay-submit>立即提交</button>
					    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
					    {fun=get_btn_back()}
					 </div>
				</div>

	  		 </form>
	  	</div>
	  </div>
	 </div>
	{/if}
</div>
{include file='common/foot.html'}
