<!-- 分頁 -->
{gboot:if({page:rows}>0)}
   <nav aria-label="page navigation" class="my-4">
     <div class="pagination justify-content-center">
     	<a class="page-item page-link" href="{page:index}">首頁</a>
     	<a class="page-item page-link" href="{page:pre}">上一頁</a>
      	{page:numbar}<!-- 數字条，小屏幕时自動隱藏-->
      	<a class="page-item page-link" href="{page:next}">下一頁</a>
      	<a class="page-item page-link" href="{page:last}">尾頁</a>
     </div>
   </nav>	
{else}
   	<div class="text-center my-5 text-secondary">未查詢到任何数据！</div>
{/gboot:if}