{foreach $extfield(key,value)}
	{if($value->type==1)} <!-- 單行文本 -->
	<div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-block">
			<input type="text" name="[value->field]" value="{{ val1.CurrentValue }}"  placeholder="請輸入[value->description]"  class="layui-input">
		</div>
	</div>
	{/if}
	
	{if($value->type==2)}<!-- 多行文本 -->
	<div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-block">
			<textarea name="[value->field]" class="layui-textarea" placeholder="請輸入[value->description]">{{ val1.CurrentValueMultiline }}</textarea>
		</div>
	</div>
	{/if}
	
    {if($value->type==3)}<!-- 單選 -->
	<div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-block">
			<div>
				{% for opt in val1.Options %}
				<input type="radio" name="{{ val1.Field }}" value="{{ opt }}" title="{{ opt }}"{% if val1.CurrentValue == opt %} checked{% endif %}>
				{% endfor %}
            </div>
		</div>
	</div>
	{/if}
	
    {if($value->type==4)}<!-- 多選 -->
	<div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-block">
			<div>
				<input name="{{ val1.Field }}" type="hidden">
				{% for opt in val1.Options %}
				<input type="checkbox" name="{{ val1.Field }}[]" value="{{ opt }}" title="{{ opt }}"{% if opt in val1.SelectedValues %} checked{% endif %}>
				{% endfor %}
            </div>
		</div>
	</div>
	{/if}
	
	{if($value->type==5)}<!-- 圖片 -->
	<div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-inline">
			<input type="text" name="[value->field]" id="[value->field]" value="{{ val1.CurrentValue }}" placeholder="請上傳[value->description]"  class="layui-input">
		</div>
		<button type="button" class="layui-btn upload watermark" data-des="[value->field]">
			<i class="layui-icon">&#xe67c;</i>上傳圖片
		</button>
		<div id="[value->field]_box" class="pic">{% if val1.CurrentValue %}<dl><dt><img src='{SITE_DIR}{{ val1.CurrentValue }}' data-url="{{ val1.CurrentValue }}"></dt><dd>刪除</dd></dl>{% endif %}</div>
	</div>
	{/if}
	
	{if($value->type==10)}<!-- 多圖 -->
	 <div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-inline">
			<input type="text" name="[value->field]" id="[value->field]" value="{{ val1.CurrentValue }}" placeholder="請上傳[value->description]"  class="layui-input">
		</div>
		<button type="button" class="layui-btn uploads watermark" data-des="[value->field]">
			<i class="layui-icon">&#xe67c;</i>上傳多圖
		</button>
		<div id="[value->field]_box" class="pic addedit">
			<dl></dl> <!-- 規避空內容拖動bug -->
			{% for pic in val1.Pics %}
			<dl><dt><img src='{SITE_DIR}{{ pic }}' data-url="{{ pic }}"></dt><dd>刪除</dd></dl>
			{% endfor %}
		</div>
	</div>
	
	{/if}
	
	{if($value->type==6)}<!-- 文件 -->
	<div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-inline">
			<input type="text" name="[value->field]" id="[value->field]" value="{{ val1.CurrentValue }}" placeholder="請上傳[value->description]"  class="layui-input">
		</div>
		<button type="button" class="layui-btn file" data-des="[value->field]">
			<i class="layui-icon">&#xe67c;</i>上傳文件
		</button>
	</div>
	{/if}
	
	{if($value->type==7)}<!-- 日期 -->
	<div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-block">
			<input type="text" name="[value->field]" value="{{ val1.CurrentValue }}" readonly placeholder="請選擇[value->description]"  class="layui-input datetime">
		</div>
	</div>
	{/if}
	
	{if($value->type==8)}<!-- 編輯器 -->
	<div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-block">
			<script type="text/plain" id="editor_[value->field]" name="[value->field]" style="width:100%;height:240px;">{{ val1.CurrentValue|safe }}</script>
			<script>
				//初始化編輯器
				$(document).ready(function (e) {
					var ue = UE.getEditor('editor_[value->field]',{
						maximumWords:10000 
					});
				})
			</script>
		</div>
	</div>
	{/if}
	
	{if($value->type==9)}<!-- 下拉 -->
	<div class="layui-form-item">
		<label class="layui-form-label">[value->description]</label>
		<div class="layui-input-block">
			<select name="[value->field]">
				{% for opt in val1.Options %}
				<option value="{{ opt }}"{% if val1.CurrentValue == opt %} selected{% endif %}>{{ opt }}</option>
				{% endfor %}
			</select>
		</div>
	 </div>
	 {/if}
	
{/foreach}