{include file=comm/head.html}

{include file=comm/top.html}

<div class="container pages">

	{include file=comm/position.html}

	<div class="row mb-5">

		{include file=member/left.html}

        <div class="col-12 col-md-10 mt-3">
        		<form onsubmit="return umodify(this);">

	        		<div class="form-group">
	                    <label for="username">Username:</label>
	                    <div>
	                        {user:username}
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="headpic">Avatar:</label>
		               	<input type="text" name="headpic" id="headpic" value="{user:headpic}" class="form-control" placeholder="Please enter avatar image URL">
		               	<div style="height:100px; width:100px; border:1px solid #ccc; margin-top:5px; border-radius:2px">
		               		<img src="{user:headpic}" id="headpic_preview" style="max-width:100%;max-height:100%">
		               	</div>
	                </div>

	                <div class="form-group">
	                    <label for="useremail">Email:</label>
	                    <div>
	                        <input type="text" name="useremail" value="{user:useremail}" autocomplete="off" class="form-control" placeholder="Please enter email">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="usermobile">Phone:</label>
	                    <div>
	                        <input type="text" name="usermobile" value="{user:usermobile}" autocomplete="off" class="form-control" placeholder="Please enter phone number">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="nickname">Nickname:</label>
	                    <div>
	                        <input type="text" name="nickname" value="{user:nickname}" autocomplete="off" class="form-control" placeholder="Please enter nickname">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="password">New Password:</label>
	                    <div>
	                        <input type="password" name="password" class="form-control" autocomplete="off" placeholder="Leave blank to keep unchanged">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="rpassword">Confirm Password:</label>
	                    <div>
	                        <input type="password" name="rpassword" class="form-control" autocomplete="off" placeholder="Please enter new password again">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="sex">Gender:</label>
	                    <div>
	                         <select class="form-control" name="sex" id="sex">
							  <option value="男" {gboot:if('{user:sex}'=='男')}selected{/gboot:if}>Male</option>
							  <option value="女" {gboot:if('{user:sex}'=='女')}selected{/gboot:if}>Female</option>
							</select>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="birthday">Birthday:</label>
                        <div>
	                        <input class="form-control" type="date" name="birthday" id="birthday" value="{user:birthday}">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="telephone">Phone:</label>
	                    <div>
	                        <input type="text" name="telephone" value="{user:telephone}" autocomplete="off" class="form-control" placeholder="Please enter phone number">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="qq">QQ:</label>
	                    <div>
	                        <input type="text" name="qq" value="{user:qq}" autocomplete="off" class="form-control" placeholder="Please enter QQ number">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="opassword">Current Password: <span class="text-danger">*</span></label>
	                    <div>
	                        <input type="password" name="opassword" required autocomplete="off" class="form-control" placeholder="Please enter current password">
	                    </div>
	                </div>

	                <div class="form-group">
	                   <button type="submit" class="btn btn-info">Save</button>
	                   <a href="{gboot:ucenter}" class="btn btn-light">Back</a>
	               </div>
               </form>
        </div>
   </div>

</div>

<script>

//ajax修改資料
function umodify(obj){
  var url='{gboot:umodify}';
  var data = $(obj).serialize();

  $.ajax({
    type: 'POST',
    url: url,
    dataType: 'json',
    data: data,
    success: function (response, status) {
      if(response.code){
    	 alert(response.msg);
		 location.href= response.tourl;
      }else{
    	 alert(response.data || response.msg);
      }
    },
    error:function(xhr,status,error){
      alert('Data error!');
    }
  });
  return false;
}

//頭像預覽
$(document).ready(function(){
	$('#headpic').on('input', function(){
		$('#headpic_preview').attr('src', $(this).val());
	});
});
</script>

{include file=comm/foot.html}
